   /* Estilos generales */
:root{
    --custom-color-primary: #0e4198;
    --custom-color-second: #ee1d23;
    --custom-color-terceary: #faaf18;
}

   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: left;
  }
  /* Estilo para encabezado */

  .logo{
    width: 250px;
  }

 
  /* Estilos para la sección de productos estelares */
  .featured-products {
    text-align: center;
    margin-bottom: 40px;
  }

  .featured-products span{
    font-size: 24px;
  }

  .featured-product{
    width: 200px;
    height: 278px;
  }

  .yellow-banner{
    background-color: var(--custom-color-terceary);
    color: #fff;
  }

  .yellow-banner img{
    transform: rotate(15deg);
    height: 220px;
    width: auto;
  }
  .yellow-banner h2{
    font-size: 24px;
    position: relative;
    text-align: left;
    font-weight: bold;
    margin-left: -10%;
    margin-bottom: 10%;
  }
 

  .yellow-banner h4{
    font-size: 18px;
    position: relative;
    text-align: left;
    margin-left: -10%;
    margin-bottom: 15%;
  }
  .red-banner{
    background-color: var(--custom-color-second);
    color: #fff;
  }

  .blue-banner{
    background-color: var(--custom-color-primary);
    color: #fff;
  }
  /* .featured-product {
    display: inline-block;
    margin: 10px;
  } */

/* 
  .featured-product .name {
    position: relative;
    font-size: 24px;
    right: 30%;
    top: 3%;
  } */

  /* Estilos para la sección de lista de productos */
  .product-list {
    margin-bottom: 40px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .balloon {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--custom-color-primary);
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2); 
  }
